.imageItem {
  position: relative;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s;
}

.image {
  width: 300px;
  height: 360px;
  border: 4px;
  object-fit: cover;
}

.imageItem:hover {
  transform: scale(1.04);
}
